{%  extends "base.html" %}
{%  block title %}
    Your classes
{%  endblock %}
{%  block content %}
    {% if user.is_authenticated %}
        <ul>
        {% for class in classes_by_lecturer %}
            <li>
                <a href="{% url 'mark_attendance' class.id %}?class_obj={{ class.id }}">{{ class.course.name }} {{ class.number }} - {{ class.course.semester.semester }} {{ class.course.semester.year }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{%  endblock %}