{% extends 'base.html' %}
{% block title %}
    {{ class.course.name }} - {{ class.number }}
{% endblock %}
{% block content %}
    <h1>Class Number: {{ class.number }}</h1>
    <h3>Course Name: {{ class.course.name }}</h3></br>
    <h5>Lecturer: {{ class.lecturer.lecturerInfo.first_name }} {{ class.lecturer.lecturerInfo.last_name }}</h5>
    <h2>Enrollments:</h2>
    <ul>
        {% for enrollment in class.enrollments.all %}
            <li>{{ enrollment.student.studentInfo.first_name }} {{ enrollment.student.studentInfo.last_name }}</li>
        {% endfor %}
    </ul>
{% endblock %}