{%  extends "base.html" %}
{%  block title %}
Lecturers
{%  endblock %}
{%  block content %}
    <a href="{% url 'register_user_lecturer' %}" class="btn btn-danger">Create New Lecturer</a>
    <ul>
    {% for lecturer in lecturers %}
        <li>
            <a href="{% url 'detail_lecturer' id=lecturer.id %}">{{ lecturer.lecturerInfo.first_name }} {{ lecturer.lecturerInfo.last_name }}</a>
            <a href="{% url 'update_lecturer_view' id=lecturer.id %}" class="btn btn-primary">Update the lecturer detail</a>
            <a href="{% url 'delete_lecturer_view' id=lecturer.id %}" class="btn btn-danger">Delete the lecturer detail</a>
        </li>
    {% endfor %}
    </ul>
{%  endblock %}