{%  extends "base.html" %}
{%  block title %}
Courses
{%  endblock %}
{%  block content %}
    <a href="{% url 'create_course' %}" class="btn btn-danger">Create New Course</a>
    <ul>
    {% for course in courses %}
        <li>
            <a href="{% url 'detail_course' id=course.id %}">({{ course.code }}) {{ course.name }} - {{ course.semester.semester }} {{ course.semester.year }}</a>
            <a href="{% url 'update_course_view' id=course.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'delete_course_view' id=course.id %}" class="btn btn-danger">Delete</a>
        </li>
    {% endfor %}
    </ul>
{%  endblock %}